<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>test</h1>
<img src="https://occ-0-4796-993.1.nflxso.net/dnm/api/v6/X194eJsgWBDE2aQbaNdmCXGUP-Y/AAAABekqiRic9rSl7grI96BA8WloPymeWW0am6ZhCfGhUHe6HsLqP5UsrFAIetLA5tWBeqLK7OkXuyLLZsjntf8nPAd7wjwB3KqGyNEDiXxTWjEARCVCt6NGGo7pW-Vj.jpg?r=172">
<button>댓글달기</button><button>댓글보기</button>
</body>
</html>